@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  position: absolute;
  text-align: center;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4b3d00;
  font-family: "Roboto", sans-serif;
}

img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
